extends ../../../layouts/admin/index2

block content
    .form__header.bs-8
        h1 #{section}
    .form__layout
        if (result)
            form(method='post' action='/admin/city/upd')
                input(type='hidden' value=result.idciudad name='id')
                .form.mb-3
                    input(type='text' placeholder='Ingrese el nombre de la ciudad' name='ciudad' value=result.ciudad required)#ciudad
                    label(for='ciudad') Ingrese el nombre de la ciudad
                .form.mb-3
                    select(name='idestado' required)#idestado
                        option(selected disabled) Elija el estado
                            each res in states
                                option(value=res.idestado)= res.estado
                    label(for='estado') Ingrese el estado
                .text-center.mb-3
                    button.button-hovered.purple_custom.text-white(type="submit") Actualizar
        else
            form(method='post' action='/admin/city/add')
                .form.mb-3
                    input(type='text' placeholder='Ingrese el nombre de la ciudad' name='ciudad' required)#ciudad
                    label(for='ciudad') Ingrese el nombre de la ciudad
                .form.mb-3
                    select(name='idestado' required)#idestado
                        option(selected disabled) Elija el estado
                            each res in states
                                option(value=res.idestado)= res.estado
                    label(for='estado') Ingrese el estado
                .text-center.mb-3
                    button.button-hovered.purple_custom.text-white(type="submit") Registrar
    a(href='/admin').button__back Volver al inicio